*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
    --nav-color: #1992D4;
    --header-color: #FFFFFF;
    --main-color: #E2E8F0;

    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 5fr;

    height: 100vh;
}

/* header */

header {
    background-color: var(--header-color);
    z-index: 1;
    box-shadow: 0px 1px 5px rgb(180, 180, 180);

    padding: 20px 40px;

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#search-btn {
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    background-color: var(--header-color);
}

#search-btn > svg:hover {
    height: 31px;
    width: 31px;
    transition: .25ms;
}

#search { 
    height: 28px;
    width: 80%;

    background-color: var(--main-color);
    border: none;

    padding: 5px 15px;
    font-weight: 700;
    font-size: 16px;

    border-radius: 14px;
}

/* nav */

nav {
    background-color: var(--nav-color);
    grid-row-start: 1;
    grid-row-end: 3;

    padding: 20px;
    padding-right: 100px;
}

.logo {
    margin-bottom: 40px;
}

.logo > * {
    color: var(--header-color);
}

.logo a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
}


.logo svg {
    height: 1.75em;
    width: auto;
}

.nav-ul-container {
    color: var(--header-color);
    margin-bottom: 40px;
}

.nav-ul-container > ul {
    list-style: none;
    margin-left: 10px;
}

.nav-ul-container > ul > li {
    margin: 15px 0;
}

.nav-ul-container svg {
    height: 1.5em;
    width: auto;
}

.nav-ul-container a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: inherit;
    font-size: 22px;
}

/* main content */

main {
    background-color: var(--main-color);

    grid-row-start: 2;
    grid-column-start: 2;
}